<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
      <h1>{{currentTime}}</h1>
  </div>
</header>
<div class="row">
<div class="container calendar">
  <div class="row">
      <div class="col-md-4 text-center">
          <div class="calendar-month">
              <span ng-click="previousMonth()">P</span>
              {{displayMonth}}
              <span ng-click="nextMonth()">N</span>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <div class="week-days ">Su</div>
        <div class="week-days ">M</div>
        <div class="week-days ">T</div>
        <div class="week-days ">W</div>
        <div class="week-days ">Th</div>
        <div class="week-days ">F</div>
        <div class="week-days ">Sa</div>
      </div>
  </div>
  <div class="row" ng-repeat="week in weeks">
      <div class="col-md-4">
        <div class="day" ng-repeat="day in week.days" ng-click="daySelector()" ng-class="{'currentDay': day.isToday}">
          {{day.number}}
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-6">
        <div ng-repeat="m in meds | orderBy:'time'" class="med">
            <button ng-show="checkMedTime()">Take</button>
            <h3>{{m.name}}</h2>
            <h4>{{m.time}}</h2>
            <h4>{{m.dosage}}</h2>
        </div>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
