<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
      <h1>{{currentTime}}</h1>
  </div>
</header>
<div class="container calendar">
  <div class="row">
      <div class="col-md-6 text-center">
          <span ng-click="previousMonth()">P</span>
          {{displayMonth}}
          <span ng-click="nextMonth()">N</span>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="day">Su</div>
        <div class="day">M</div>
        <div class="day">T</div>
        <div class="day">W</div>
        <div class="day">Th</div>
        <div class="day">F</div>
        <div class="day">Sa</div>
      </div>
  </div>
  <div class="row" ng-repeat="week in weeks">
      <div class="col-md-6">
        <div class="day" ng-repeat="day in week.days" ng-click="daySelector()" ng-class="{'currentDay': day.isToday}">
          {{day.number}}
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <div ng-repeat="m in meds">
            {{m.time}} {{m.name}} {{m.dosage}}
        </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
